body {
    margin: 5%;
    font-size: 30px;
    font-family: 'Economica', sans-serif;
    color:#000;
    list-style: none;
    line-height: 40px;
}

a {
    color: #000;
}

a:hover {
    background: #00f;
}