body {
    width: 100%;
    margin: 40px 20px;
    padding: 0;
    background: #8dc124;
    font-size: 30px;
    font-family: 'Economica', sans-serif;
    color:#000;
}

div { vertical-align: top; }

.intro {
  width: 300px;
  display: inline-block;
  margin: 0 24px 0 200px;
}

.intro.second {
  margin: 0;
}

.author {
  font-size: 20px;
}

/* .wrapper {
    font-size: 0;
    margin-left: 500px;
    top: 0px;
    display: absolute;
    vertical-align: top;
} */

.title {
  display: inline-block;
  font-size: 0;
  margin-left: 20px;
}


.letter {
    width: 50.5px;
    height: 100px;
    /* background: rgba(255, 255, 255, 0.851); */
    display: inline-block;
    position: relative;
    margin: 0 1px 8px 0;
}

.bar {
    position: absolute;
    background: #000;
    width: 2px;
}

.crossbar {
    position: absolute;
    background: #000;
    height: 2px;
}

.white .bar {
    background: #fff;
}

.white .crossbar {
  background: #fff;
}
  

.left {
    left: 9px;
}

.crossbar.left {
    left: 10px;
}

.crossbar.left.serif {
  left: 0px;
}

.right {
    right: 9px;
}

.crossbar.right.serif {
    right: 0px;
}

.top {
  top: 1px;
}

.top.serif {
    top: 0px;
}

.x {
  top: 31.5px;
}

.crossbar.x {
    top: 30.5px;
  }

.bottom {
  bottom: 22px;
}

.crossbar.bottom {
    bottom: 21px;
}

.desc {
    bottom: 0px;
}

.bar.desc {
    bottom: 1px;
}

.crossbar.right{
  right: 0px;
}

.s.bar {
  height: 10px;
}

.m.bar {
  height: 22.5px;
}

.l.bar {
  height: 46px;
}

.xl.bar {
  height: 77px;
}

.xl.bar.x {
    height: 67px;
}

.s.crossbar {
  width: 10px;
}

.m.crossbar {
    width: 20px;
}

.l.crossbar {
  width: 30.5px;
}

.l.crossbar.middle {
  top: 52.5px;
}

.letter.a .m.bar {
    height: 25.5px;
  }

.letter.s .m.bar.bottom {
    height: 24px;
}

.dot {
    height: 5px;
    top: 16px;
}

.letter.u .crossbar.right.x.serif {
  right: 10px;
}

.letter.t .t.bar {
  height: 67px;
}

.letter.v .left.rotate {
  transform: rotate(-18.2deg);
  left: 16.5px;
}

.letter.v .right.rotate {
  transform: rotate(18.2deg);
  right: 16.5px;
}

.letter.t {
  width: 25.25px;
}

.letter.i {
  width: 25.25px;
}

.letter.l {
  width: 25.25px;
}


@media screen and (max-width:600px) {
  body {
    width: 100%;
    margin: 4px 2px;
    padding: 0;
  }
}

/* element.style {
  transform: scale(1.8);
  transform-origin: 0 0;
} */